<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <ul>
    <% for(var item in datacategorie.children_categories){%> 
        <li><%= datacategorie.children_categories[item].name%></li>
    <% } %>
    </ul>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>