<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>Sistema de Inteligência de Dados - Davi</h1>
        <p> Olá <%- first_name %>, <br> Esse aplicativo tem por objetivo utilizar dados do Mercado Livre para fazer análises de Mercado e concorrência, com o objetivo de dar suporte na tomada de decisões.</p>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>