<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <table class="table">
        <tr>
            <th scope="col">id</th>       
        </tr>
        <% for(var item in datasearch.results){%>
            <tr>
                <td>
                    <%= datasearch.results[item].id%>
                </td>
            </tr>
            <% } %>
        </table>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>